<div class="container">

<h1>Agregar mascota perdida</h1>
<h3>Dejanos los datos tuyos, de tu mascota y lo subimos a la pagina</h3>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="animal">Nombre del animal perdido</label>
      <input type="text" class="form-control" id="animal" placeholder="Nombre">
    </div>
    <div class="form-group col-md-6">
      <label for="Celular">Celular de contacto</label>
      <input type="text" class="form-control" id="Celular" placeholder="Celular">
    </div>
  </div>
  <div class="form-group">
    <label for="zona">Zona donde se lo vio por ultima vez</label>
    <input type="text" class="form-control" id="zona" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="info">Informacion extra</label>
    <input type="text" class="form-control" id="info" placeholder="Info">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Subir</button>
</form>
</div>