<header>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Un lugar donde poder reencontrar a tu mascota perdida o adoptar a un animalito en busca de un nuevo
                    hogar
                </h1>
                <!-- Search form -->
                <form class="form-inline d-flex justify-content-end md-form form-sm active-cyan active-cyan-2 mt-2">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input id="search" class="form-control form-control-sm ml-3 w-25" type="text" placeholder="Buscar"
                        aria-label="Search">
                    <button class="btn-primary m-2 rounded">Buscar</button>
                </form>
            </div>
        </div>
    </div>
</header>

<div class="animal-list" id="animal-list">
    <h2>Lista de animalitos:</h2>
    {{#each animals}}
    
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/img/{{this.profilePic}}" height="200px" alt="Card image">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="/animal/{{this.id}}" class="btn btn-primary">Ver información de {{this.name}}</a>
        </div>
    </div>
    {{/each}}
</div>