<br>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="align-">Nombre: {{animal.name}}</h2>
            <h3>Zona: {{animal.place}}</h3>

            <img class="profile-picture" src="/img/{{animal.profilePic}}" alt="">
        </div>
    </div>
</div>