* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin-top: 60px;
}

header {
    color: black;
    text-align: right;
    background-image: url(/img/dog.jpg);
    background-position: center center;
    height: 52em;
    opacity: 0.8;
}

.nav-item a {
    color: rgb(2, 2, 2);
}

.nav-item a:hover {
    color: #4dd0e1;
}

h1 {
    margin-top: 2em;
}

.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
}

#search {
    opacity: .7;
}

.animal-list {
    text-align: center;
    background-color: rgb(206, 140, 140);
}

.card {
    float: left;
    margin: 5px;
    padding: 2px;
    align-self: center;
}

.logout-name {
    font-weight: bold;
}

.blue {
    background-color: #90caf9;
}

.container-profile {
    background-color: rgb(177, 174, 166);
}
.message-failure {
    width: 40%;
    border-color: red;
    background-color: lightcoral;
    color: darkred;
    padding: 7px;
    text-align: center;
  }
  
  .message-success {
    width: 40%;
    border-color: green;
    background-color: lightgreen;
    color: darkgreen;
    padding: 7px;
    text-align: center;
  }